Adding a new crypto engine

Hi, is there any guide for how to add a new crypto engine?

It looks like it should be relatively straightforward, but I'm a bit lost already just in my `aead_setup_crypto()` method, because I've got a key and a 12-byte IV, but the engine is wanting a key plus a 4-byte nonce.

RFC 4106 describes a Nonce as a 4-byte salt and a 8-byte IV.  I think the 4-byte salt is what I need to give the engine here.

Since the picotls IV is 12 bytes, it almost makes me wonder if that IV is actually a 4-byte salt + 8-byte IV, but I don't see any other engines using it like that.  In fact, they all save the 12-byte IV to a static_iv and use it later in aead_do_encrypt_init() to generate a different IV with ptls_aead__build_iv().

So I'm totally lost as to what this 4-byte salt should be or where I would get it from.

Also, I noticed a `ctr_cipher` and `ecb_cipher` inside the ptls_aead_algorithm_t struct, but it looks like those aren't needed / aren't even used?

Any guidance on this would be greatly appreciated, thanks!

The following assumes that we are talking about AES-GCM, as you are referring to RFC 4106.

AEAD API of picotls was designed to support TLS 1.3, therefore it assumes 12-byte static IV + 64-bit nonce (see [RFC 8446 section 5.3])(https://www.rfc-editor.org/rfc/rfc8446#section-5.3)).

> So I'm totally lost as to what this 4-byte salt should be or where I would get it from.

12-byte static IV is provided to the AEAD engine via the 4th argument of `setup_crypto` callback. It is the responsibility of each AEAD engine to retain the static IV.

Then, for each invocation of `do_encrypt_v` or `do_decrypt`, the engine should generate a per-record nonce by XORing the static IV and the provided nonce.

Among the encrypt / decrypt callbacks, the other one that each engine must supply is `do_encrypt`, however this can be set to `ptls_aead__do_encrypt` that calls `do_encrypt_v`.

> Also, I noticed a `ctr_cipher` and `ecb_cipher` inside the ptls_aead_algorithm_t struct, but it looks like those aren't needed / aren't even used?

AEAD engine to be used together with QUIC version 1 must provide`ctr_cipher`, as the header protection of QUIC ([RFC 9001 section 5.4](https://datatracker.ietf.org/doc/html/rfc9001#name-header-protection]) uses the underlying CTR cipher of each AEAD algorithm (the document talks about ECB for AES-GCM, but it is actually designed so that underlying _CTR_ mode of an AEAD cipher can be used in an algorithm-agnostic manner).

Also, to support multipath QUIC, `do_set_iv` and `do_get_iv` callbacks exist, allowing users to change the entire IV. This is necessary because multipath QUIC needs to apply XOR to the entire 12-byte space of a static IV, the first 4 bytes being the path ID and the remaining 8 bytes being the packet number.

Thanks for all the helpful info.  I guess maybe I am not using a proper AES-GCM engine, because all the existing engines in here support setting the key upfront and setting a 12-byte IV whenever.  However the engine I am using requires passing in a key plus 4-byte salt to the setkey method (and I'm not sure yet about the IV).

[Section 8.1 of RFC 4106](https://datatracker.ietf.org/doc/html/rfc4106#section-8.1) does describe that the KEYMAT for a 128 bit key should be 20 bytes (16 + 4), and that the extra 4 bytes are used as salt value in the nonce (which is made up of a [4-byte salt and 8-byte IV](https://datatracker.ietf.org/doc/html/rfc4106#section-4)).

The engine I am using is named "rfc4106(gcm(aes))".  Could it be this engine and even RFC 4106 itself are just not appropriate at all and should not be used for AES-GCM except when implementing IPSEC, because AES-GCM is applied in a very specific way when tailored to the context of IPSEC?

> > Also, I noticed a `ctr_cipher` and `ecb_cipher` inside the ptls_aead_algorithm_t struct, but it looks like those aren't needed / aren't even used?
> 
> AEAD engines to be used together with QUIC version 1 must provide`ctr_cipher`, as the header protection of QUIC ([RFC 9001 section 5.4](https://datatracker.ietf.org/doc/html/rfc9001#name-header-protection%5D)) uses the underlying CTR cipher of each AEAD algorithm (the document talks about ECB for AES-GCM, but it is actually designed so that underlying _CTR_ mode of an AEAD cipher can be used in an algorithm-agnostic manner).

It sounds like you are confirming that `ecb_cipher` is not required, which would make sense since I don't see it being used anywhere except inside the bcrypt engine.

I'm still confused about `ctr_cipher` though, because it also appears to never be used.  Although many or all engines are setting it, a search of the code does not show it being used anywhere except in one spot in the test file t/picotls.c:

```
sshock@sshock:~/git/picotls$ rg -w ctr_cipher
lib/openssl.c
2133:    .ctr_cipher = &ptls_openssl_chacha20,

t/picotls.c
421:    ptls_cipher_algorithm_t *algo = cs->aead->ctr_cipher;

include/picotls.h
433:    ptls_cipher_algorithm_t *ctr_cipher;
```

> Thanks for all the helpful info. I think my problem is that instead of using a regular "gcm(aes)" algorithm, I am trying to use "rfc4106(gcm(aes))", which is tailored for use with IPSEC and has subtle differences like requiring a 4-byte salt/nonce to be provided with the key and having an 8-byte IV instead of 12-byte IV.

I see.

So if I understand correctly, in RFC 4106, nonce is constructed as a concatenation of
* a stable salt of 4 bytes, and
* per-record IV of 8 bytes (which could be a sequence number).

whereas in case of RFC 8446, nonce is constructed as a XOR of
* a stable salt of 12 bytes
* 4-bytes of zero and a per-record sequence number of 8 bytes.

Considering these differences, when using picotls for RFC 4106 style construction, what users should do is:
* when calling `ptls_aead_new_direct`, supply a 12-byte value as the `iv` where the first 4 bytes are the "stable salt" of RFC 4106 and hte remaining 8 bytes are zero
* when calling encrypt / decrypt, supply the per-record IV using the `seq` argument.

By using the AEAD engines as such, there is no tweaks required inside picotls to support RFC 4106. All the engines (including new ones) can support both RFC 4106 and 8446.

> By using the AEAD engines as such, there is no tweaks required inside picotls to support RFC 4106. All the engines (including new ones) can support both RFC 4106 and 8446.

Awesome, thanks!